{% extends 'components/navbar.html' %}

{% block content %}

<h1>{{ product.name }}</h1>

<p>
    Price: {{ product.price }}
</p>

<p>Published on: {{ product.created_at }}</p>

<p>Category: {{ product.category.name }}</p>

<img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 300px;">

<p>{{ product.description }}</p>

<h2>Send review</h2>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="review_text">Your Review:</label><br>
        <textarea id="review_text" name="review_text" rows="4" cols="50" required></textarea>
    </div>
    <br>
    <button type="submit">Send Review</button>
</form>

{% endblock %}
